<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person info</title>
</head>
<body>
<h3>Show person info</h3>

ID: <p th:text="${person.getId()}">VALUE</p>
Name: <p th:text="${person.getName()}">VALUE</p>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>